@define-color blue #458588;
@define-color orange #d65d0e;
@define-color green #b8bb26;
@define-color green-spotify #1ed760;
@define-color yellow #fabd2f;
@define-color red #cc241d;
@define-color red-light #fb3934;
@define-color purple #b16286;
@define-color purple-light #d3869b;
@define-color black-light #282828;
@define-color black-write #1d2021;

* {
    border: none;
    border-radius: 10px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    min-height: 10px;
}

@keyframes blink {
    to {
        background-color: @purple-light;
        color: @blue;
    }
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-top: 6px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @black-write;
    transition: none;
}

#workspaces button {
    transition: none;
    color: @blue;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#workspaces button.occupied {
    transition: none;
    color: @red-light;
    background: transparent;
    font-size: 4px;
}

#workspaces button.focused {
    color: @blue;
    background: @yellow;
    border-top: 2px solid @green;
    border-bottom: 2px solid @green;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @yellow;
    border-color: @red-light;
    color: @red-light;
}

#workspaces button.active:hover {
    color: @red-light;
}

#network,
#pulseaudio,
#battery,
#clock,
#memory,
#cpu,
#temperature,
#tray,
#custom-launcher,
#custom-power,
#custom-wallpaper,
#custom-spotify,
#custom-idasen-sit,
#custom-idasen-stand,
#custom-weather {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    transition: none;
}

#network {
    color: @black-write;
    background: @purple-light;
}

#pulseaudio {
    color: @black-write;
    background: @yellow;
}

#battery {
    color: @black-write;
    background: @green;
}

#battery.charging, #battery.plugged {
    color: @black-write;
    background-color: @green;
}

#battery.critical:not(.charging) {
    background-color: @gr;
    color: @black-write;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
    color: @black-write;
    background: @purple;
}

#cpu, #temperature {
    color: @black-write;
    background: @blue;
}

#tray {
    color: @black-write;
    background: @black-light;
}

#clock, #custom-idasen-stand {
    color: @black-write;
    background: @green;
}

#custom-idasen-sit {
    color: @black-write;
    background: @orange;
}

#custom-power, #temperature.critical {
    color: @black-write;
    background: @red;
}

#custom-spotify {
    color: @black-write;
    background: @green-spotify;
}

#custom-weather {
    color: @yellow;
    background: @black-light;
}

#custom-launcher, #custom-wallpaper {
    color: @black-write;
    background: @yellow;
}
