* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
    background-color: #3700B3;
    color: #000000;
}

#lock {
    background-image: image(url("/usr/share/icons/Faenza/actions/scalable/gnome-lockscreen.svg"), url("/usr/share/icons/Faenza/actions/scalable/gnome-lockscreen.svg"));
}

#logout {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/gnome-logout.svg"), url("/usr/share/icons/Faenza/apps/scalable/gnome-logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/system-suspend.svg"), url("/usr/share/icons/Faenza/apps/scalable/system-suspend.svg"));
}

#meta {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/clementine.svg"), url("/usr/share/icons/Faenza/apps/scalable/clementine.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/gnome-shutdown.svg"), url("/usr/share/icons/Faenza/apps/scalable/gnome-shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/system-reboot.svg"), url("/usr/share/icons/Faenza/apps/scalable/system-reboot.svg"));
}

