* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/icons/Faenza/actions/scalable/gnome-lockscreen.svg"), url("/usr/share/icons/Faenza/actions/scalable/gnome-lockscreen.svg"));
}

#logout {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/gnome-logout.svg"), url("/usr/share/icons/Faenza/apps/scalable/gnome-logout.svg"));
}

#suspend {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/system-suspend.svg"), url("/usr/share/icons/Faenza/apps/scalable/system-suspend.svg"));
}

#meta {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/clementine.svg"), url("/usr/share/icons/Faenza/apps/scalable/clementine.svg"));
}

#shutdown {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/gnome-shutdown.svg"), url("/usr/share/icons/Faenza/apps/scalable/gnome-shutdown.svg"));
}

#reboot {
    background-image: image(url("/usr/share/icons/Faenza/apps/scalable/system-reboot.svg"), url("/usr/share/icons/Faenza/apps/scalable/system-reboot.svg"));
}

